<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sdbullion_nfusions>
			<nfusions_field>
				<tenant_alias_field>
				</tenant_alias_field>
			</nfusions_field>
        </sdbullion_nfusions>
    </default>
</config>