@font-face {
  font-family: 'icomoon';
  src:  url('../nfusions/icomoon.eot?tk5wor');
  src:  url('../nfusions/icomoon.eot?tk5wor#iefix') format('embedded-opentype'),
    url('../nfusions/icomoon.ttf?tk5wor') format('truetype'),
    url('../nfusions/icomoon.woff?tk5wor') format('woff'),
    url('../nfusions/icomoon.svg?tk5wor#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.admin__menu .item-nfusion-solutions a:before {
  font-family: 'icomoon';
  content: "\e900";
}
.action-tier {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.refesh_tier {
  display: block;
  margin-left: 5px;
  margin-top: 5px;
}
